
// default_shell "cached-nix-shell"

layout {
    // 'base' swap layout is exactly whatever you define in the actual layout stuff
    // first one takes precidence
    swap_tiled_layout name="stack" min_panes=2 {
        tab {
            pane stacked=true {
                pane
                pane
            }
        }
    }
    swap_tiled_layout name="no stack" min_panes=2 {
        tab {
            pane
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    pane_template name="nix" {
        command "cached-nix-shell"
    }

    // tab name="git / broot" stacked=true {
    //     pane stacked=true {
    //         pane start_suspended=true name="gitui" {
    //             command "gitui"
    //         }
    //         pane start_suspended=true name="broot" {
    //             command "broot"
    //         }
    //     }
    // }
    // tab name="commands" {
    //     pane stacked=true {
    //         nix start_suspended=true name="new contest" {
    //             args "--command" "read contest; mkdir $contest && ln -s $(realpath $contest) contest && ls -l contest"
    //         }
    //         nix start_suspended=true name="symlink contest" {
    //             args "--command" "rm contest; ln -s $(fd -a -t d | fzf) contest && ls -l contest"
    //         }
    //         nix start_suspended=true name="symlink problem" {
    //             args "--command" "rm p.py; ln -s $(fd -a -t f -e py | fzf) p.py && ls -l p.py"
    //         }
    //         nix start_suspended=true name="run" {
    //             args "--command" "cat input.txt | python p.py"
    //         }
    //     }
    // }
    tab focus=true name="helix" {
        nix name="helix" {
            args "--command" "hx ."
        }
    }
    tab name="shell" {
        nix name="shell"
    }
}
